PORT=8000
SECRET_KEY=rahasia_super_negara_api_ganti_dengan_random_string_panjang
DATABASE_URL=ppostgresql://postgres:password123@film_db_postgres:5432/film_db
DB_USER=postgres
DB_PASSWORD=password123
DB_NAME=film_db
DB_HOST=db_postgres  
DB_PORT=5432